body {
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: seashell;
}
#majorcontain {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#snap {
  padding: 20px;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapTwo {
  padding: 20px;
  margin: auto;
  display: block;
  width: 900px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17;
  grid-column: 2;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapThree {
  padding: 20px;
  padding-left: 60px;
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 237;
  grid-column: 3;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapFour {
  padding: 20px;
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 237;
  grid-column: 4;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapFive {
  padding: 20px;
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 237;
  grid-column: 5;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}

#snapB {
  padding: 20px;
  padding-top: 30vh;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;

  left: 0;
  grid-row: 2;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapTwoB {
  padding: 20px;
  padding-top: 30vh;
  margin: auto;
  display: block;
  width: 900px;
  height: 600px;
  position: absolute;

  left: 17;
  grid-column: 2;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapThreeB {
  padding: 20px;
  padding-left: 60px;
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  position: absolute;
  padding-top: 30vh;
  left: 237;
  grid-column: 3;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapFourB {
  padding: 20px;
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  position: absolute;
  padding-top: 30vh;
  left: 237;
  grid-column: 4;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
#snapBFive {
  padding: 20px;
  margin: auto;
  display: block;
  width: 900px;
  height: 700px;
  position: absolute;
  padding-top: 30vh;
  left: 237;
  grid-column: 5;
  color: seagreen;
  fill: seagreen;
  stroke: seagreen;
}
.container {
  grid-row: 1;
  display: grid;
  border-top: 1.5px seagreen solid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.containerTwo {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#columnOne {
  grid-column: 1;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnTwo {
  grid-column: 2;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnThree {
  grid-column: 3;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnFour {
  grid-column: 4;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnFive {
  grid-column: 5;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
.containerTwo {
  display: grid;
  border-top: 1.5px seagreen solid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#columnBOne {
  grid-column: 1;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnBTwo {
  grid-column: 2;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnBThree {
  grid-column: 3;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnBFour {
  grid-column: 4;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
#columnBFive {
  grid-column: 5;
  height: 90vh;
  margin-right: 40px;
  border-right: 1.5px seagreen dashed;
}
.text-input {
  display: none;
  fill: rgb(255, 255, 255);
  stroke: seagreen;
}
#c {
  height: 50vh;
  width: 80vw;
}
#buttonOne,
#buttonTwo,
#buttonThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#buttonOne:hover,
#buttonTwo:hover,
#buttonThree:hover {
  color: seashell;
  background-color: seagreen;
}
#buttonBOne,
#buttonBTwo,
#buttonBThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#buttonBOne:hover,
#buttonBTwo:hover,
#buttonBThree:hover {
  color: seashell;
  background-color: seagreen;
}

#ebuttonOne,
#ebuttonTwo,
#ebuttonThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#ebuttonOne:hover,
#ebuttonTwo:hover,
#ebuttonThree:hover {
  color: seashell;
  background-color: seagreen;
}

#ebuttonBOne,
#ebuttonBTwo,
#ebuttonBThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#ebuttonBOne:hover,
#ebuttonBTwo:hover,
#ebuttonBThree:hover {
  color: seashell;
  background-color: seagreen;
}
#ibuttonOne,
#ibuttonTwo,
#ibuttonThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#ibuttonOne:hover,
#ibuttonTwo:hover,
#ibuttonThree:hover {
  color: seashell;
  background-color: seagreen;
}
#ibuttonBOne,
#ibuttonBTwo,
#ibuttonBThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#ibuttonBOne:hover,
#ibuttonBTwo:hover,
#ibuttonBThree:hover {
  color: seashell;
  background-color: seagreen;
}
#obuttonOne,
#obuttonTwo,
#obuttonThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#obuttonOne:hover,
#obuttonTwo:hover,
#obuttonThree:hover {
  color: seashell;
  background-color: seagreen;
}
#obuttonBOne,
#obuttonBTwo,
#obuttonBThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#obuttonBOne:hover,
#obuttonBTwo:hover,
#obuttonBThree:hover {
  color: seashell;
  background-color: seagreen;
}
#ubuttonOne,
#ubuttonTwo,
#ubuttonThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#ubuttonOne:hover,
#ubuttonTwo:hover,
#ubuttonThree:hover {
  color: seashell;
  background-color: seagreen;
}
#ubuttonBOne,
#ubuttonBTwo,
#ubuttonBThree {
  border: 1.5px seagreen solid;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  color: seagreen;
  background-color: transparent;
  font-size: 2rem !important;
  width: 2.4rem;
}
#ubuttonBOne:hover,
#ubuttonBTwo:hover,
#ubuttonBThree:hover {
  color: seashell;
  background-color: seagreen;
}
#preview {
  height: 50%;
  width: 80%;
  display: none;
}
#buttoncontainer {
  width: 150px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 40px;
  padding-top: 500px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 1;
}
#ebuttoncontainer {
  width: 150px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 40px;
  padding-top: 476px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 2;
}
#ibuttoncontainer {
  width: 150px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 40px;
  padding-top: 476px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 3;
}
#obuttoncontainer {
  width: 150px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 40px;
  padding-top: 476px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 4;
}
#ubuttoncontainer {
  width: 150px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 40px;
  padding-top: 476px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 5;
}

#buttoncontainerB {
  width: 250px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 40px;
  padding-top: 500px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 1;
}
#ebuttonBcontainer {
  width: 250px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 20px;
  padding-top: 500px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 2;
}
#ibuttoncontainerB {
  width: 250px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 20px;
  padding-top: 500px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 3;
}
#obuttonBcontainer {
  width: 250px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 20px;
  padding-top: 500px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 4;
}
#ubuttonBcontainer {
  width: 250px;
  height: 50px;
  position: absolute; /*Can also be `fixed`*/
  padding-left: 20px;
  padding-top: 500px;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  grid-column: 5;
}

#font-size-range,
#textField,
#font-name,
#file,
#textFieldTwo,
#textFieldThree,
#textFieldFour,
#textFieldFive,
#textFieldB,
#textFieldTwoB,
#textFieldThreeB,
#textFieldFourB,
#textFieldFiveB {
  display: none;
}
text {
  color: seagreen;
}
canvas.item,
#font-data,
#file {
  color: #b44f4f;
  cursor: pointer;
  background-color: #b44f4f;
}
#pronounce {
  font-size: 2rem !important;
  letter-spacing: -1.5px !important;
}
#pronounceTwo {
  grid-column: span 5;
  width: 100%;
  border-bottom: 1.5px seagreen solid;
  z-index: 50;
  font-size: 2rem !important;
  letter-spacing: -1.5px !important;
}
#buttonBOne,
#buttonBTwo,
#buttonBThree {
  width: 60px;
}
#ebuttonBOne,
#ebuttonBTwo,
#ebuttonBThree {
  width: 64px;
}
#ibuttonBOne,
#ibuttonBTwo,
#ibuttonBThree {
  width: 64px;
}
#obuttonBOne,
#obuttonBTwo,
#obuttonBThree {
  width: 64px;
}
#ubuttonBOne,
#ubuttonBTwo,
#ubuttonBThree {
  width: 64px;
}
#ubuttonBThree {
  width: 75px;
}
/* Glyph Inspector */
/* 
#pagination span {
  margin: 0 0.3em;
  color: #505050;
  cursor: pointer;
}

#pagination span.page-selected {
  font-weight: bold;
  color: black;
}

canvas.item {
  float: left;
  border: solid 1px #a0a0a0;
  margin-right: -1px;
  margin-bottom: -1px;
  cursor: pointer;
}

canvas.item:hover {
  background-color: #e0e0e0;
}

#glyph-list-end {
  clear: both;
  height: 20px;
}

#glyph-display {
  float: left;
  border: solid 1px #a0a0a0;
  position: relative;
  width: 500px;
  height: 500px;
}

#glyph,
glyph-bg {
  position: absolute;
  top: 0;
  left: 0;
}

#glyph-data {
  float: left;
  margin-left: 2em;
  display: flex;
  flex-flow: column nowrap;
  height: 500px;
}
#glyph-data dl {
  margin: 0;
}
#glyph-data dt {
  float: left;
}
#glyph-data dd {
  margin-left: 12em;
}

#glyph-contours {
  flex: 1 1 0;
  overflow: auto;
}

#glyph-data pre {
  font-size: 11px;
}
pre:not(.contour) {
  margin: 0;
}
pre.contour {
  margin: 0 0 1em 2em;
  border-bottom: solid 1px #a0a0a0;
}
span.oncurve {
  color: blue;
}
span.offcurve {
  color: red;
}

.disabled {
  color: gray;
} */

/* Font Inspector */
/* 
#font-data h3 {
  font-weight: normal;
  margin: 0;
  cursor: pointer;
  background-color: #f8f8f8;
}

#font-data h3.expanded::before {
  font-size: 85%;
  content: "▼ ";
}

#font-data h3.collapsed::before {
  font-size: 85%;
  content: "► ";
}

#font-data h3.collapsed + dl {
  display: none;
}

#font-data dl {
  margin-top: 0;
  padding-left: 2em;
  color: #707070;
} 

#font-data dt {
  float: left;
}

#font-data dd {
  margin-left: 12em;
  word-break: break-all;
  max-height: 100px;
  overflow-y: auto;
}

#font-data .langtag {
  font-size: 85%;
  color: #999;
  white-space: nowrap;
}

#font-data .langname {
  padding-right: 0.5em;
}

#file {
  float: left;
  font-size: 11px;
  color: #999;
} */
